.place-item__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  row-gap: 12px;
}

@media screen and (max-width: 767px) {
  .place-item__website {
    padding: 0 16px;
  }
}
