.place-item {
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place-item {
      grid-template-columns: 47.5% 49%;
      column-gap: 3.5%;
      width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .place-item {
      grid-template-columns: 100%;
      row-gap: 32px;
  }
}
