.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
  }
}
