.place-item__paragraph{
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 162%;
  letter-spacing: .1px;
}

.place-item__paragraph:last-of-type {
  margin-bottom: 0;
}